DATABASE_URL=postgresql+psycopg://socialpilot_user:socialpilot_password@localhost:5432/socialpilot_db
MONGODB_URL=mongodb://admin:admin_password@localhost:27017/socialpilot_db?authSource=admin
SECRET_KEY=949f2b86121406e9389da6d54203df88f1dc3ffad2dc7d9d0c262ad1bc7a8f3b
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=10080

# YouTube OAuth Credentials
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=http://localhost:8000/auth/youtube/callback
